{% load static %}
<!DOCTYPE HTL>
<html>
	<head> </head>
	<body>
		<main>
			<div>
				<table>
					<thead>
						<tr>
							<th>{{todo_detail.name}}</th>
						</tr>
					</thead>
					<tbody>
						{% for a_task in todo_detail.items.all %}
						<tr>
							<td>{{ a_task.task }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</main>
	</body>
</html>
