{% load static %}
<!DOCTYPE HTL>
<html>
	<head> </head>
	<body>
		<main>
			<div>
				<h1>My Lists</h1>
                <p><a href="{% url "todos:create_todolist"  %}"> Create a new list </a></p>
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Number of Items</th>
						</tr>
					</thead>
					<tbody>
						{% for names in todo_list.all %}
						<tr>
							<td>
                                <a href="{% url "todos:show_todolist" names.pk %}">    
                                {{ names.name }} </a>
                            </td>
                            <td>
                                &nbsp&nbsp&nbsp&nbsp&nbsp{{ names.items.all|length }} <!-- names.items.all length filter should work-->
                            </td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</main>
	</body>
</html>
