{% load static %}
<!DOCTYPE HTL>
<html>
	<head> </head>
	<body>
		<main>
			<div>
				<h1>Create a new To-do list</h1>
			</div>
			<form method="post">
				<div>
					{% csrf_token %}{{form.as_p}}
					<button>Submit</button>
				</div>
			</form>
		</main>
	</body>
</html>
